# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [28]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [31]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
num_cities = len(cities)

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [36]:
# Create an empty list to store the responses
response_json = []
City = []          
Lat = []           
Lng = []          
Max_Temp = []      
Humidity = []      
Cloudiness = []   
Wind_Speed = []   
Country = []      
Date = []




url = "https://api.openweathermap.org/data/2.5/weather?q="

# Make a request for each of the city
for x in range(len(cities)):
    print(f"Processing Record: {x + 1} of {num_cities}: {cities[x]}")

    # Get one of the cities
    cities_response = requests.get(url + str(cities[x]) + "&appid=" + weather_api_key).json()

    # Save cities_response to list
    response_json.append(cities_response)
    
    
    
    City.append(response['name'])
    Lat.append(response['coord']['lat'])
    Lng.append(response['coord']['lng'])
    Max_Temp.append(response['main']['temp_max'])
    Humidity.append(response['main']['humidity'])
    Cloudiness.append(response['clouds']['all'])
    Wind_Speed.append(response['wind']['speed'])
    Country.append(response['sys']['country'])
    Date.append(response['dt'])

Processing Record: 1 of 606: busselton

NameError: name 'response' is not defined

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [34]:
pprint(response_json[0])

{'base': 'stations',
 'clouds': {'all': 100},
 'cod': 200,
 'coord': {'lat': -33.65, 'lon': 115.33},
 'dt': 1587754559,
 'id': 2075265,
 'main': {'feels_like': 284.39,
          'humidity': 77,
          'pressure': 1010,
          'temp': 288.84,
          'temp_max': 289.82,
          'temp_min': 288.15},
 'name': 'Busselton',
 'rain': {'3h': 0.86},
 'sys': {'country': 'AU',
         'id': 2011706,
         'sunrise': 1587768502,
         'sunset': 1587807875,
         'type': 3},
 'timezone': 28800,
 'weather': [{'description': 'light rain',
              'icon': '10n',
              'id': 500,
              'main': 'Rain'}],
 'wind': {'deg': 263, 'speed': 7.1}}

In [35]:
#create dictonary of list City Data

city_data = {["City" : City,
              "Lat" : Lat,
              "Lng" : lng,
              "Max Temp" : Max_Temp,
              "Humidity" : Humidity,
              "Cloudiness" : Cloudiness,
              "Wind Speed" : Wind_Speed,
              "Country" : Country,
              "Date" : Date]}

#city_df = pd.DataFrame(city_data)
cities_df.head(10)

,coord,weather,base,main,wind,rain,clouds,dt,sys,timezone,id,name,cod,snow,visibility,message
0,"{'lon': 115.33, 'lat': -33.65}","[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,"{'temp': 288.84, 'feels_like': 284.39, 'temp_m...","{'speed': 7.1, 'deg': 263}",{'3h': 0.86},{'all': 100},1.587755e+09,"{'type': 3, 'id': 2011706, 'country': 'AU', 's...",28800.0,2075265.0,Busselton,200,NaN,NaN,NaN
1,"{'lon': 135.7, 'lat': 51.67}","[{'id': 600, 'main': 'Snow', 'description': 'l...",stations,"{'temp': 270.7, 'feels_like': 267.23, 'temp_mi...","{'speed': 1.55, 'deg': 314}",NaN,{'all': 100},1.587755e+09,"{'country': 'RU', 'sunrise': 1587757205, 'suns...",36000.0,2026786.0,Berezovyy,200,{'3h': 0.85},NaN,NaN
2,"{'lon': 178.42, 'lat': 69.38}","[{'id': 800, 'main': 'Clear', 'description': '...",stations,"{'temp': 263.72, 'feels_like': 258.84, 'temp_m...","{'speed': 2.56, 'deg': 136}",NaN,{'all': 0},1.587755e+09,"{'country': 'RU', 'sunrise': 1587741452, 'suns...",43200.0,2123814.0,Leningradskiy,200,NaN,NaN,NaN
3,"{'lon': -68.3, 'lat': -54.8}","[{'id': 600, 'main': 'Snow', 'description': 'l...",stations,"{'temp': 275.15, 'feels_like': 266.1, 'temp_mi...","{'speed': 10.3, 'deg': 180}",NaN,{'all': 75},1.587755e+09,"{'type': 1, 'id': 8303, 'country': 'AR', 'sunr...",-10800.0,3833367.0,Ushuaia,200,NaN,10000.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,404,NaN,NaN,city not found
5,"{'lon': -54.33, 'lat': -34.48}","[{'id': 804, 'main': 'Clouds', 'description': ...",stations,"{'temp': 298.61, 'feels_like': 297.45, 'temp_m...","{'speed': 4.51, 'deg': 349}",NaN,{'all': 99},1.587755e+09,"{'country': 'UY', 'sunrise': 1587722862, 'suns...",-10800.0,3440777.0,Rocha,200,NaN,NaN,NaN
6,"{'lon': 18.42, 'lat': -33.93}","[{'id': 803, 'main': 'Clouds', 'description': ...",stations,"{'temp': 291.99, 'feels_like': 287.47, 'temp_m...","{'speed': 7.7, 'deg': 170}",NaN,{'all': 55},1.587755e+09,"{'type': 1, 'id': 1899, 'country': 'ZA', 'sunr...",7200.0,3369157.0,Cape Town,200,NaN,10000.0,NaN
7,"{'lon': -50.01, 'lat': -24.79}","[{'id': 800, 'main': 'Clear', 'description': '...",stations,"{'temp': 297.64, 'feels_like': 295.57, 'temp_m...","{'speed': 2.44, 'deg': 11}",NaN,{'all': 3},1.587755e+09,"{'country': 'BR', 'sunrise': 1587721125, 'suns...",-10800.0,3466704.0,Castro,200,NaN,NaN,NaN
8,"{'lon': 147.33, 'lat': -42.88}","[{'id': 803, 'main': 'Clouds', 'description': ...",stations,"{'temp': 286.15, 'feels_like': 284.08, 'temp_m...","{'speed': 2.6, 'deg': 360}",NaN,{'all': 75},1.587754e+09,"{'type': 1, 'id': 9545, 'country': 'AU', 'sunr...",36000.0,2163355.0,Hobart,200,NaN,10000.0,NaN
9,"{'lon': -134.97, 'lat': -23.12}","[{'id': 804, 'main': 'Clouds', 'description': ...",stations,"{'temp': 297.9, 'feels_like': 297.6, 'temp_min...","{'speed': 4.98, 'deg': 103}",NaN,{'all': 100},1.587755e+09,"{'country': 'PF', 'sunrise': 1587741412, 'suns...",-32400.0,4030556.0,Rikitea,200,NaN,NaN,NaN

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [5]:
#  Get the indices of cities that have humidity over 100%.

In [6]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

In [7]:
# Extract relevant fields from the data frame


# Export the City_Data into a csv

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

In [8]:
# OPTIONAL: Create a function to create Linear Regression plots

In [9]:
# Create Northern and Southern Hemisphere DataFrames

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression